/* Body */

body {
    background-color: #999;
}

h1,
h2,
h3 {
    color: #373737;
}

a {
    color: #fff;
}


/* content boxes */

.contentbox {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox > img {
    float: left;
    margin-right: 15px;
}

.contentbox li {
    color: #373737;
}

.contentbox-beige {
    background-color: #f9f8f8;
    padding: 10px;
    margin-bottom: 70px;
}

.contentbox-beige>img {
    float: left;
    margin-right: 15px;
}

.contentbox-turquoise {
    background-color: #5adae2;
    padding: 10px;
    margin-bottom: 70px;
}


/* Box sizing */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/*grid*/

.container {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
}

.column {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
}

.row {
    overflow: hidden;
}

.one-whole {
    width: 940px;
}

.one-quarter {
    width: 220px;
}

.three-quarters {
    width: 700px;
}

.one-half {
    width: 460px;
}

.two-thirds {
    width: 620px;
}

.one-third {
    width: 300px;
}

.one-sixth {
    width: 140px;
}

.alpha {
    margin-left: 0;
}

.omega {
    margin-right: 0;
}

nav ul li {
    display: inline-block;
}

ul {
    list-style: none;
    padding: 0;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;

/*header and footer*/

.brand {
    padding-top: 45px;
    padding-bottom: 45px;
}

.nav {
    padding-top: 60px;
}

.pull-right {
    float: right;
}

.social {
    text-align: center;
}

.header {
    background-color: #373737;
}

.footer {
    background-color: #373737;
}

.footer p {
    color: #fff;
}

.footer li {
    color: #fff;
}

.footer h4 {
    color: #fff;
}

.footer-bottom {
    background-color: #1e1f1f;
}

.footer-bottom p {
    color: #999;
}


/* main content */

.main {
    background-color: #edecea;
}

.page-header {
    background-color: #5adae2;
    color: #fff;
    padding-top: 30px;
    margin-bottom: 50px;
}

.page-header p {
    padding-left: 15px;
}


/* Home page css */

.page-header.home {
    margin-bottom: 0;
}

.home h1 {
    color: #fff;
}

.message {
    background-color: #4cd2da;
    padding-top: 60px;
    padding-bottom: 60px;
}

.message h3 {
    color: #fff;
}

.main-content-top h1 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.main-content-bottom {
    padding-bottom: 75px;
}

.blog-tease {
    height: 210px;
    color: #fff;
}

.blog-tease h2 {
    color: #fff;
}

.tile {
    background-color: #5adae2;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
}


/* About page */

.team h1 {
    margin-bottom: 40px;
}

.team-member {
    margin-bottom: 20px;
}


/* Portfolio */

.portfolio-item {
    margin-bottom: 10px;
}

.portfolio-title {
    display: none;
}


/* hides portfolio image text */


/*blog page*/

.info li {
    display: inline-block;
}

.sidebar {
    padding: 10px;
}

.recent-entries img {
    float: left;
    padding-right: 10px;
}

.photos img {
    padding-right: 10px;
    padding-bottom: 10px;
}


/* Contact page */

.table,
.form p,
.map h2 {
    margin-left: 15px;
}